
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" >Login/Register</h4>
      </div>
      <div class="modal-body">
      	<a class="btn btn-block btn-social btn-google" width="60%" ng-click="authenticate('google')">
		  <span class="fa fa-google"></span>
		  Sign in with Google
		</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>
