<!DOCTYPE html>
<html lang="en" ng-app="catalogApp">
 
<head>
    <title>Catalog App</title>
    
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="../static/client/main.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src = "https://apis.google.com/js/client:platform.js?onload=start"></script>



</head>
 
<body>
    <!-- <div ng-include src="'/static/client/shared/header/header.html'" ng-controller="headerCtrl"></div> -->
    <div class="container">
        <div ng-view ng-cloak></div>
        <div ng-include src="'/static/client/shared/footer/footer.html'" ng-controller="footerCtrl"></div>
    </div>
    <!-- script dependencies -->
    <script type="text/javascript" src="../static/lib/angular.min.js"></script>
    <script type="text/javascript" src="../static/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="../static/lib/angular-animate.min.js"></script>

    <script type="text/javascript" src="../static/lib/angular-strap.min.js"></script>
    <script type="text/javascript" src="../static/lib/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="../static/lib/satellizer.min.js"></script>
    <script type="text/javascript" src="../static/lib/ng-flow-standalone.min.js"></script>

    <script type="text/javascript" src="../static/client/app.js"></script>
    <script type="text/javascript" src="../static/client/shared/header/headerController.js"></script>
    <script type="text/javascript" src="../static/client/shared/footer/footerController.js"></script>


    <script type="text/javascript" src="../static/client/components/landing/landingController.js"></script>
    <script type="text/javascript" src="../static/client/components/profile/profileController.js"></script>
    <script type="text/javascript" src="../static/client/components/browse/browseController.js"></script>

    <script type="text/javascript" src="../static/client/shared/data/categoryService.js"></script>
    <script type="text/javascript" src="../static/client/shared/data/userService.js"></script>
    <script type="text/javascript" src="../static/client/shared/data/itemService.js"></script>

    <script type="text/javascript" src="../static/client/shared/data/fileUploadDirective.js"></script>
    <!--google login api-->
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

</body>
 
</html>